body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1366px;
  overflow-X: hidden;
  background: #CCC;
}

h1 {
  color: #FFF;
  font-size: 4em;
}

h2 {
  margin: 0;
  padding: 3%;
  color: #00650C;
}

h3 {
  color: #827847;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}

.top {
  width: 100%;
  height: 40em;
  background: url("./assets/DSC_0267.JPG") no-repeat;
  background-size: cover;
}

.top .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: white;
  color: black;
  opacity: 0.5;
}

.top .header .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5em;
  font-weight: bold;
}

.top .header .menu li:hover {
  color: blue;
}

.top .top-info {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}

.top .top-info .my-github {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

.top .top-info .my-github .icon {
  width: 2em;
  height: 2em;
  margin-right: 2%;
}

.top .top-info .my-github .git {
  background: url(./assets/git.svg) no-repeat;
  background-size: contain;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.top .top-info a {
  font-size: 1.5em;
  color: #FFF;
}

.top .top-info a:visited {
  color: #FFF;
}

.top .top-info a:hover {
  text-shadow: 0 0 50px greenyellow;
  font-weight: bold;
}

.about-container {
  background: #FFF;
}

.about-container .aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container .aboutme .summary {
  width: 40%;
}

.about-container .aboutme .education {
  width: 40%;
}

.about-container .aboutme .english {
  width: 80%;
}

.skills {
  background: #D9FBFF;
}

.skills .skills-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .skills-blocks .skills-block {
  width: 5em;
  height: 5em;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 3%;
  background: #00650C;
}

.skills .skills-blocks .html {
  background: url(./assets/html.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .css {
  background: url(./assets/css.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .js {
  background: url(./assets/javascript-logo-8892AEFCAC-seeklogo.com.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .webpack {
  background: url(./assets/webpack.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .less {
  background: url(./assets/1200px-LESS_Logo.svg.png) no-repeat;
  background-size: contain;
  background-position-y: 50%;
}

.skills .skills-blocks .sass {
  background: url(./assets/sass.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .jquery {
  background: url(./assets/jquery-10-1175155.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .ajax {
  background: url(./assets/ajax.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .npm {
  background: url(./assets/npm.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .react {
  background: url(./assets/pngfind.com-map-marker-png-878756.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .redux {
  background: url(./assets/redux.png) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .git {
  background: url(./assets/git.svg) no-repeat;
  background-size: contain;
}

.skills .skills-blocks .ps {
  background: url(./assets/photoshop.png) no-repeat;
  background-size: contain;
  margin-bottom: 5%;
}

.examples {
  background: #FFF;
}

.examples .examples-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples .examples-cards .examples-card {
  width: 12em;
  height: 10em;
  margin: 2%;
  background: #827847;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.examples .examples-cards .examples-card a {
  text-align: center;
  background: #D9FBFF;
  opacity: 0.8;
  width: 100%;
}

.examples .examples-cards .examples-card a:hover {
  color: #00650C;
}

.examples .examples-cards .artactive {
  background: url("./assets/artactive.png") no-repeat;
  background-size: contain;
}

.examples .examples-cards .youtube {
  background: url("./assets/youtube-client.png") no-repeat;
  background-size: contain;
  background-position-y: 40%;
}

.examples .examples-cards .aurius {
  background: url("./assets/aurius.png") no-repeat;
  background-size: contain;
}

.examples .examples-cards .belcanton {
  background: url("./assets/belkanton.png") no-repeat;
  background-size: contain;
  background-position-y: 40%;
}

.examples .examples-cards .css-animation {
  background: url("./assets/css-animation.png") no-repeat;
  background-size: contain;
  background-position-x: 50%;
}

.contacts {
  background: url("./assets/minsk-state-map.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts .contacts-info {
  margin: 5%;
  padding: 2%;
  width: 40%;
  background: #D9FBFF;
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 2.5em;
  }
  .top .header .menu {
    font-size: 1em;
  }
  .top .top-info a {
    font-size: 1em;
  }
  .top .top-info .my-github .icon {
    width: 1em;
    height: 1em;
  }
  .about-container .aboutme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-container .aboutme .summary, .about-container .aboutme .education {
    width: 80%;
  }
  .contacts .contacts-info {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 2em;
  }
  .top .header .menu {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=style.css.map */